@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "willump";
    src: url('./fonts/Willump.otf');
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(113 113 122);
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(24 24 27);
  }

  ::-webkit-scrollbar-track {
    background: rgb(113 113 122);
    border-color: rgb(24 24 27);
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
  }
}